<div class="face-snap-card" [ngClass]="{snapped: buttonText==='Oops unsnap!'}">
  <h2>{{ faceSnap.title | titlecase}}</h2>
  <p>Mis en ligne le {{ faceSnap.createdDate | date: 'le d MMMM yyyy'}}</p>
  <a routerLink="/facesnaps">Back</a>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.localisation">Prise à {{faceSnap.localisation}}</p>
  <p>
    <button (click)="onSnap()">{{ buttonText }}👍</button>
     <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">{{ faceSnap.snaps }}</span>
  </p>
</div>
